@charset "UTF-8";

@font-face {
	font-family: "literallyTimes";
	src: url("css/times.ttf") format("ttf");
}

/* ------ general stuff ------ */

html {
	font-family: literallyTimes, "Times New Roman", Times, serif;
	background-color: black;
	font-size: 16px;
	caret-color: transparent;
}

header {
	font-size: 6.5vw;
	text-shadow: 0 8px 4px rgb(102,78,207);
	-webkit-text-stroke: .5px rgb(23,17,49);
	text-align: center;
}

body {
	font-size: 2rem;
	color: rgb(230,211,255);
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	background-image: url(../images/space_bg.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 300vh 300vh;
}

#mainMain {
	display: flex;
	flex-flow: column nowrap;
}

img {
	border: 5px solid rgb(11,7,31);
	box-shadow: 0 0 5px rgb(11,7,31)

}

img.windows {
	height: 70%;
	width: 70%;
	align-self: center;
}

img.img-ols {
	height: 80%;
	width: 80%;
}

.right {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

main p {
	border: 5px solid rgb(23,17,49);
	border-radius: 40px;
	background-image: linear-gradient(0deg, rgb(9,10,59), rgb(11,7,31));
	text-align: center;
	padding: 5px;
	box-shadow: 0 0 5px rgb(23,17,49);
}

button {
	font-family: inherit;
	font-size: 1.2rem;
	border: 5px solid rgb(23,17,49);
	border-radius: 60px;
	background-image: linear-gradient(0deg, rgb(9,10,59), rgb(11,7,31));
	text-align: center;
	padding: 6px;
	box-shadow: 0 0 5px rgb(23,17,49);
	transition: background-color .2s ease, border-color .2s ease, text-shadow .2s ease;
	color: inherit;
	text-shadow: 0 0 0 black;
	cursor: pointer;
}

li:nth-of-type(1) {
	border-top: 0;
}


footer {
	font-size: 1rem;
	border-top: 5px solid rgb(230,211,255);
	color: rgb(230,211,255);
	background-color: rgb(9,6,23);
	text-align: start;
}

/* ------ link styles / Transition styles ------ */

a {
	text-decoration: none;
	color: inherit;
	text-shadow: 0 0 0 black;
	transition: text-shadow .2s ease;
}

a:hover {
	text-shadow: 0 0 5px rgb(230,211,255);
}

li:has(a:hover) {
	background-color: rgb(9,10,59);
}

li {
	transition: background-color .2s ease
}

button:hover {
	background-image: linear-gradient(0deg, rgb(19,20,89), rgb(21,17,61));
	border-color: rgb(13,7,29);
	text-shadow: 0 0 5px rgb(230,211,255);
}

/* ------ form styles ------ */

form {
	display: none;
	position: fixed;
	border: 5px solid rgb(23,17,49);
	border-radius: 40px;
	background-image: linear-gradient(0deg, rgb(9,10,59), rgb(11,7,31));
	text-align: left;
	padding: 20px;
	box-shadow: 0 0 5px rgb(23,17,49);
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 11;
}

.form-input {
	padding: 2vh 0;
	display: flex;
	flex-flow: column nowrap;
}

input,
textarea {
	font-size: 1rem;
	font-family: inherit;
	border: 5px solid rgb(23,17,49);
	padding: 0;
	color: rgb(9,6,23);
	background-color: rgb(230,211,255); 
}

textarea {
	resize: none;
	font-size: 1.5rem;
}

input:focus,
textarea:focus {
	outline: rgb(255,0,255) double 2px;
}	

input:valid,
textarea:valid {
	background-color: rgb(144, 255, 162);
}

input:invalid,
textarea:invalid {
	background-color: rgb(255, 144, 168);
}	

input[type="file"] {
	border: none;
	background-color: inherit;
	color: inherit;
}

#overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	z-index: 10;
}

#img-upload-lsg {
	padding: 10px 0 0 0;
}

/* ------ desktop stuff ------ */ 

@media screen and (min-width: 481px) {
	
	h1 {
		order: 0;
		font-size: 4.5rem;
		margin: 0;
		-webkit-text-stroke: .02em rgb(102,78,207);
		font-weight: normal;
		text-decoration: underline;
		text-align: center;
		align-self: start;
		grid-column: 2;
		margin-bottom: 80px;
	}
	
	h2 {
		font-size: 3rem;
		margin: 0;
		-webkit-text-stroke: .02em rgb(23,17,49);
		font-weight: normal;
		text-decoration: underline;
	}

	h3 {
		font-size: 2rem;
		color: rgba(230,211,255,.8);
		margin: 0;
		font-weight: normal;
		text-decoration: underline;
	}
	
	.article {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column: 2;
	}
	
	.article img {
		margin-top: 50px;
		width: 90%;
		height: auto;
		align-self: start;
		max-width: 100%;
	}
	
	.centerEverything {
		max-width: 80%;
		margin: 0 auto;
	}
	
	.nos {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column: 2;	
		gap: 100px;
	}
	
	.form-input {
		padding: 4vh 0;
		display: flex;
		flex-flow: column nowrap;
	}
	
	.top-ols {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	
	.ols-button {
		margin-top: 20px;
	}
	
	.lsg {
		grid-column: 2;
		column-count: 2;
	}
	
	.lsg div {
		text-align: center;
	}
	
	div.button-div {
		grid-column: 2;
		display: flex;
		justify-content: end;
	}
		
	.lsg > div {
		break-inside: avoid;
		display: inline-block;
		width: 100%;
	}
	
	form {
		width: 30vw;
		height: 80vh;
		font-size: 2rem;
	}
	
	input {
		font-size: 1.5rem;
	}
	
	button {
		font-size: 2rem;
		padding: 20px 10px;
	}
	
	header {
		-webkit-text-stroke: 2px rgb(23,17,49);
		padding-bottom: 60px;
	}

	main {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 20px;
		align-items: center;
		padding-bottom: 40px;
	}

	main p {
		padding-top: 20px;
	}

	nav ul {
		list-style-type: none;
		display: table;
		border-collapse: collapse;
		border: 5px solid rgb(230,211,255);
		background-color: rgb(23,17,49);	
		box-shadow: 0 0 5px rgb(230,211,255);
	}

	nav {
		position: sticky;
		top: 10vh;
		align-self: start;
	}

	li {
		font-size: 2.5rem;
		padding: 80px 15px;
		text-align: center;
		overflow-wrap: normal;
		border-top: 5px solid rgb(230,211,255);
	}
	
	footer {
		padding: 20px 10% 80px 10%;
		font-size: 2rem;
	}
}

/* ------ mobeel stuff ------ */

@media screen and (max-width: 480px) {
	h1 {
		font-size: 1.8rem;
		margin: 0;
		-webkit-text-stroke: .02em rgb(102,78,207);
		font-weight: normal;
		text-decoration: underline;
		text-align: center;
		margin-bottom: 5%;
	}

	h2 {
		font-size: 1.5rem;
		margin: 0;
		-webkit-text-stroke: .02em rgb(23,17,49);
		font-weight: normal;
		text-decoration: underline;
	}

	h3 {
		font-size: 1.3rem;
		color: rgba(230,211,255,.8);
		margin: 0;
		font-weight: normal;
		text-decoration: underline;
	}
	
	header {
		font-size: 2rem;
		padding: 10px 0;
	}

	.top-ols {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.top-ols,
	.bottom-ols {
		margin: 0 5%;
	}
	
	.lsg {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.nos {
		max-width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0 auto;
		gap: 5px;
	}
	
	.lsg img {
		width: 40vw;
		height: auto;
	}
	
	.left div,
	.right div {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}
	
	.ols-button,
	.nos-button {
		margin-top: 20px;
	}

	div.button-div-nos {
		display: flex;
		flex-flow: column nowrap; 
		align-items: center;
	}
	
	.button-div {
		display: flex;
		flex-flow: row-reverse nowrap; 
		max-width: 98vw
	}
	
	.article {
		display: grid;
		grid-template-columns: 50% 50%;
	}
	
	.article div {
		display: flex;
		flex-flow: column nowrap;
		align-items: start;
	}

	.article img {
		width: 45vw;
		height: auto;
		align-self: start;
		justify-self: center;
		margin-top: 50px;
	}	

	.centerEverything {
		max-width: 100%;
		margin: 0 auto;
	}

	main {
		display: flex;
		flex-flow: column nowrap;
	}

	div#mainMain p {
		max-width: 85%;
		align-self: center;
		padding: 10px;
	}

	nav {
		order: 99;
	}

	nav ul {
		display: table;
		border-left: 0;
		border-right: 0;
		flex-flow: row nowrap;
		list-style-type: none;
		border-collapse: collapse;
		border-top: 5px solid rgb(230,211,255);
		border-bottom: 5px solid rgb(230,211,255);
		background-color: rgb(23,17,49);	
		box-shadow: 0 0 5px rgb(230,211,255);
		min-width: 100%;
		text-align: center;
	}

	nav li {
		font-size: 1.2rem;
		display: table-cell;
		border-left: 5px solid rgb(230,211,255);
		min-width: 33.3%;
		padding: 5% 0;
		vertical-align: middle;
	}

	nav li:nth-of-type(1) {
		display: table-cell;
		border-left: 0;
	}

	body {
		font-size: 1em;
		display: flex;
		flex-flow: column nowrap;
		margin: 0;
	}

	footer {
		order: 100;
		padding: 20px 10px 20px 10px;
		box-shadow: 0 0 5px rgb(230,211,255);

	}
	
	form {
		min-width: 80vw;
        font-size: 2rem;
	}
	
	a:active {
		text-shadow: 0 0 5px rgb(230,211,255);
	}

	ul li:has(a:active) {
		background-color: rgb(9,10,59);
	}
}
